.main__projects {
  width: 100%;
  display: grid;
  gap: 2.4rem;
  max-width: var(--max-screen-width);
  margin: auto;
  padding: 0 1rem;
}

.more__projects {
  display: none;
}

.main__projects--title {
  font-size: 4rem;
}

.main__projects--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

@media only screen and (max-width: 1440px) {
  .main__projects {
    max-width: 120rem;
  }
}

@media only screen and (max-width: 1024px) {
  .main__projects {
    padding: 4rem;
  }

  .main__projects--list {
    grid-template-columns: 1fr 1fr;
  }

  .more__projects {
    display: grid;
    place-content: center;
    width: 100%;
    height: 88%;
    border: 1px solid var(--border-color);
    box-shadow: inset 0 1px 0 0 var(--color-accent);
    border-radius: 1.2rem;
  }

  .more__projects--icon {
    width: 5rem;
    height: 5rem;
    color: rgba(187, 186, 186, 0.096);
  }
}

@media only screen and (max-width: 768px) {
  .more__projects {
    display: none;
  }
  .main__projects {
    padding: 1rem;
  }

  .main__projects--list {
    grid-template-columns: 1fr;
  }
}
