.main__projects {
  width: 100%;
  display: grid;
  gap: 2.4rem;
  max-width: var(--max-screen-width);
  margin: auto;
}

.main__projects--title {
  font-size: 4rem;
}

.main__projects--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

@media only screen and (max-width: 1440px) {
  .main__projects {
    max-width: 120rem;
  }
}
