.main__craft {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  display: grid;
  gap: 2.4rem;
}

.main__craft--title {
  max-width: var(--max-screen-width);
  margin: auto;
  width: 100%;
  padding: 0 1rem;
}

@media only screen and (max-width: 1440px) {
  .main__craft--title {
    max-width: 120rem;
  }
}

@media only screen and (max-width: 1024px) {
  .main__craft--title {
    padding: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .main__craft--title {
    padding: 1rem;
  }
}
