.main-header {
  width: 100%;
  display: grid;
  align-content: center;
  gap: 2.4rem;
  max-width: var(--max-screen-width);
  margin: auto;
  margin-top: 20vh;
  padding: 0 1rem;
}

.main-header-info {
  font-size: var(--text-s-primary);
  color: var(--color-accent-light);
}

@media only screen and (max-width: 1440px) {
  .main-header {
    max-width: 120rem;
  }
}

@media only screen and (max-width: 1024px) {
  .main-header {
    padding: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    padding: 1rem;
    margin-top: 10vh;
  }
}
