.main-header {
  width: 100%;
  display: grid;
  align-content: center;
  gap: 2.4rem;
  max-width: var(--max-screen-width);
  margin: auto;
  margin-top: 20vh;
}

.main-header-info {
  font-size: var(--text-s-primary);
  color: var(--color-accent-light);
}
