.main-header {
  width: 100%;
  min-height: 57vh;
  display: grid;
  align-content: center;
  gap: 2.4rem;
}

.main-header-title {
  font-size: 9.6rem;
  margin: 0;
}

.main-header-info {
  font-size: 2.4rem;
  color: var(--color-accent-light);
}
