.slider-container[data-direction='right'] {
  --_animation-direction: reverse;
}

.slider-container[data-direction='left'] {
  --_animation-direction: forwards;
}

.slider-container[data-speed='fast'] {
  --_animation-duration: 20s;
}

.slider-container[data-speed='slow'] {
  --_animation-duration: 100s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.slider-container {
  width: 100vw;
  will-change: transform;
}

.slider {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
  width: max-content;
  gap: 2.4rem;
}

.slider-item {
  flex: 1 0 auto;
  width: 500px;
  height: 100%;
}

.slider-container[data-animated='true'] {
  overflow: hidden;
}

.slider-container[data-animated='true'] .slider {
  animation: scroll var(--_animation-duration, 80s) var(--_animation-direction, forwards) linear infinite;
}

.slider-container:hover .slider {
  animation-play-state: paused;
}
