.slider-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 2rem;
  will-change: transform;
}

.slider-item {
  flex: 1 0 auto;
  width: 500px;
  height: 100%;
}
