:root {
  --book-w-size: 24rem;
  --book-h-size: 28rem;

  --book-dk-w-size: 20rem;
  --book-dk-h-size: 24rem;
}

.book {
  width: var(--book-w-size);
  height: var(--book-h-size);
  position: relative;
  overflow: hidden;
  border: 1px solid hsl(0, 0%, 92%);
  border-radius: 5.4px 1.8px 1.8px 5.4px;
  display: flex;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1) 0, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 0) 100%),
    var(--book-color);

  box-shadow: 0 2px 3.6px rgba(0, 0, 0, 0.05), 0 10.8px 21.6px rgba(0, 0, 0, 0.08), inset 0 -0.9px 0 rgba(0, 0, 0, 0.1),
    inset 0 2px 2px hsla(0, 0%, 100%, 0.1), inset 3.6px 0 3.6px rgba(0, 0, 0, 0.1);
}

.book__mold {
  height: 100%;
  width: 2.4rem;
  background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 12%,
      hsla(0, 0%, 100%, 0.25) 29.25%,
      hsla(0, 0%, 100%, 0) 50.5%,
      hsla(0, 0%, 100%, 0) 75.25%,
      hsla(0, 0%, 100%, 0.25) 91%,
      hsla(0, 0%, 100%, 0)
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.1) 12%,
      transparent 30%,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(0, 0, 0, 0.2) 73.5%,
      rgba(0, 0, 0, 0.5) 75.25%,
      rgba(0, 0, 0, 0.15) 85.25%,
      transparent
    );
  opacity: 0.2;
}

.book__covered {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 2.4rem;
}

.skill__icon {
  width: 10rem;
  height: 10rem;
  stroke-width: 0.5;
  color: var(--book-color);
  filter: invert(1);
}

.book__title {
  font-weight: 600;
  font-size: var(--text-s-primary);
  color: var(--book-color);
  filter: invert(1);
}

.book-container {
  perspective: 90rem;
}

.book {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.book-container:hover .book {
  transform: rotateY(-20deg) scale(1.066) translateX(-0.5em);
}

.book__pages {
  background: linear-gradient(90deg, #999 0, transparent 30%), linear-gradient(#fff, #fafafa);
  height: calc(var(--book-h-size) - 2 * 3px);
  width: calc(5.6rem - 2px);
  top: 3px;
  left: 0;
  position: absolute;
  z-index: -10;
  transform: translateX(calc(var(--book-w-size) - 5.6rem / 2 - 3px)) rotateY(90deg) translateX(calc(5.6rem / 2));
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.book-container:hover .book__pages {
  height: calc(var(--book-h-size) - 2 * 3px);
  width: calc(5.6rem - 2px);
  top: 3px;
  position: absolute;
  transform: translateX(calc(var(--book-w-size) - 5.6rem / 2 - 3px)) rotateY(73deg) translateX(calc(5.6rem / 2))
    scale(1.066);
}

.book__shadow {
  position: absolute;
  left: 0;
  width: var(--book-w-size);
  height: var(--book-h-size);
  border-radius: 5.4px 1.8px 1.8px 5.4px;
  background: var(--book-color);
  transform: translateZ(calc(-1 * 5.6rem));
  top: 0;
  z-index: -20;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.book-container:hover .book__shadow {
  transform: rotateY(-20deg) translateX(1rem);
}

@media only screen and (max-width: 1440px) {
  .book {
    width: var(--book-dk-w-size);
    height: var(--book-dk-h-size);
  }

  .book-container {
    perspective: 90rem;
    max-width: 100%;
  }

  .book__pages {
    height: calc(var(--book-dk-h-size) - 2 * 3px);
    transform: translateX(calc(var(--book-dk-w-size) - 5.6rem / 2 - 3px)) rotateY(90deg) translateX(calc(5.6rem / 2));
  }

  .book-container:hover .book__pages {
    height: calc(var(--book-dk-h-size) - 2 * 3px);
    transform: translateX(calc(var(--book-dk-w-size) - 5.6rem / 2 - 3px)) rotateY(73deg) translateX(calc(5.6rem / 2))
      scale(1.066);
  }

  .book__shadow {
    width: var(--book-dk-w-size);
    height: var(--book-dk-h-size);
  }
}
