@font-face {
  font-family: 'font-sans';
  src: url('/font-sans.woff2') format('woff');
}

:root {
  --primary-color: #0070f3;
  --color-white: #fff;
  --color-black: #000;
  --destructive: #ff0055;

  --border-color: #fafafa;
  --color-accent: #eaeaea;
  --bg-color: #ffffffcc;
  --color-base: #171717;
  --color-foreground: #343434;
  --color-accent-light: #666666;

  --max-screen-width: 1280px;
  --text-s-primary: 2rem;
  --text-s-title: 12.8rem;
  --text-s-subtitle: 4rem;
  --text-s-tertiary: 2.5rem;
  --text-s-default: 1.6rem;

  --text-s-dk-title: 8rem;
  --text-s-dk-subtitle: 4rem;
  --text-s-dk-tertiary: 2.2rem;
  --text-s-dk-default: 1.4rem;

  /* layouts */

  --movile: 76.8rem;
  --tablet: 1024rem;
  --laptop: 1280rem;
  --desktop: 1440rem;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'font-sans', system-ui, -apple-system;
}

body {
  font-size: var(--text-s-default);
  color: var(--color-base);
  overflow: hidden;
  overflow-y: var(--toggle-overflow);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-base);
  display: block;
}
