:root {
  --primary-color: #0070f3;
  --secondary-color: #fff;
  --default-color: #000;

  --border-color: #fafafa;
  --color-accent: #eaeaea;
  --bg-color: #ffffffcc;
  --color-base: #171717;
  --color-foreground: #343434;
  --color-accent-light: #666666;

  --max-screen-width: 1280px;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system;
}

body {
  font-size: 1.6rem;
  color: var(--color-base);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--default-color);
  display: block;
}
