.nav {
  width: 100vw;
  height: 100%;
  max-width: var(--max-screen-width);
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__list {
  display: flex;
  width: auto;
  gap: 2.4rem;
}

.icon {
  width: 3rem;
  height: 3rem;
}

@media only screen and (max-width: 768px) {
  .nav__list {
    padding: 0 1rem;
  }
}
